<%- include('../includes/headadmin.ejs') %>
</head>
<body>
    <div class="wrapper">
        <%- include('../includes/sidebaradmin.ejs') %>

        <div class="main_content">
            <div class="header">LAPORAN LAUNDRY</div>
            <div class="info">
                <h1>PRINT OUT LAPORAN LAUNDRY</h1>
                <a class="btn alert alert-primary" href="/admin/print-laporan">Print Out Laporan</a>
            </div>
        </div>
    </div>
</body>
</html>        