<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Tentang</h6>
          <p class="text-justify">Pasti Laundry terletak di Jalan Edelweis II RT 006/RW019 Kebalen,Babelan, Bekasi, Jawa Barat. Layanan cuci kiloan yang tersedia pada Pasti Laundry diantaranya cuci komplit(cuci kering, dan seterika), cuci kering, maupun setrika saja yang terdiri dari tiga jenis paket yaitu regular, kilat dan ekspres. Harga jasa laundry ditentukan berdasarkan berat atau jumlah satuan pakaian.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Layanan</h6>
          <ul class="footer-links">
            <li><a href="">Cuci Komplit</a></li>
            <li><a href="">Cuci</a></li>
            <li><a href="">Seterika</a></li>
            <li><a href="">Kilat</a></li>
            <li><a href="">Ekspres</a></li>
            <li><a href="">Regular</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Menu</h6>
          <ul class="footer-links">
            <li><a href=""">Beranda</a></li>
            <li><a href="">Tentang Kami</a></li>
            <li><a href="">Layanan & Promo</a></li>
            <li><a href="">Cek Status Laundry</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Pasti Laundry</a>.
          </p>
        </div>
      </div>
    </div>
</footer>