<%- include('../includes/headclient.ejs') %>
</head>
<body>
    <%- include('../includes/clientnav.ejs') %>
      <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Pasti Laundry</h1>
            <p class="p-lead">Jasa Layanan Pencucian dan Setrika kiloan dengan pelayanan terbaik dan profesional.</p>
            <p><a class="btn btn-primary btn-lg" href="/cek-status" role="button">Cek Status Laundry</a></p>
          </div>
        </div>
        
        <div class="container main-home">
            <h1 class="why">Kenapa Pasti Laundry?</h1>
            <div class="row">
            <div class="card col-md-4"" style="width: 18rem;">
                <img src="img/laundry.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pencucian yang bersih dengan sabun khusus yang sangat terjamin kebersihan dan keharumannya.</p>
                </div>
              </div>
              <div class="card col-md-4"" style="width: 18rem;">
                <img src="img/setrika.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Setrika Aromatika halus dan rapi dengan setrika modern, lembut wangin dan menyegarkan dengan banyak pilihan aroma pewangi pakain .</p>
                </div>
              </div>
              <div class="card col-md-4"" style="width: 18rem;">
                <img src="img/antar jemput.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Service yang sangat maksimal dan juga gratis antar pada pakaian yang ingin dilaundry.</p>
                </div>
              </div>
              </div>   
        </div>
     <!-- Site footer -->
     <%- include('../includes/footerclient.ejs') %>
</body>
</html>