<%- include('../includes/headclient.ejs') %>
</head>

<%- include('../includes/clientnav.ejs') %>

<div class="container main-tentang">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Pasti Laundry.</h2>
          <p class="lead">Pasti Laundry terletak di Jalan Edelweis II RT 006/RW019 Kebalen,Babelan, Bekasi, Jawa Barat. Layanan cuci kiloan yang tersedia pada Pasti Laundry diantaranya cuci komplit(cuci kering, dan seterika), cuci kering, maupun setrika saja yang terdiri dari tiga jenis paket yaitu regular, kilat dan ekspres. Harga jasa laundry ditentukan berdasarkan berat atau jumlah satuan pakaian. No Telfon: 08970888966</p>
        </div>
        <div class="col-md-5">
          <img src="img/laundry1.jpg" alt="">
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Visi <span class="text-muted">Pasti Laundry.</span></h2>
          <p class="lead">Menjadi laundry dengan kosep kiloan yang memberikan layanan terbaik untuk pelanggan dan dikelola secara professional.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="img/laundry2.png" alt="">
        </div>
      </div>
    </div>
<!-- Site footer -->
<%- include('../includes/footerclient.ejs') %>
</body>
</html>